# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore development server configs
webpack.config.js
webpack.config.*.js

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db


.parcel-cache/

package-lock.json
package.json
